{% extends "learning_logs/base.html" %}
{% load bootstrap5 %}

{% block page_header %}
<h2>Topics</h2>
{% endblock page_header %}

{% block content %}
<ol class="list-group list-group-flush">
    {% for topic in topics %}
    <li class="list-group-item">
        <h4>
            <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic.id }}. {{ topic }}</a>
        </h4>
    </li>
    {% empty %}
    <li class="list-group-item">
        <h3>No topics have been added yet.</h3>
    </li>
    {% endfor %}
</ol>

<h6>
    <small>
        <a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>
    </small>
</h6>
{% endblock content %}